@font-face {
  font-family: "Azuki";
  src: url(azuki.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Azuki";
  cursor: url(images/naru.gif), auto;
}

body {
    font-weight: 400;
  }
  
  main {
    padding: 50px;
  }
  
  
  nav {
    display: block;
    position: fixed;
    background-color: #ffffff;
    width: 220px;
    top: 0;
    left: -300px;
    bottom: 0;
    transition: all 0.5s;
    z-index: 3;
    opacity: 0;
  }
  
  .open nav {
    left: 0;
    opacity: 1;
  }
  
  nav .inner {
    padding: 25px;
  }
  
  nav .inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav .inner ul li {
    margin: 0;
    border-bottom: 1px solid #333;
  }
  
  nav .inner ul li a {
    display: block;
    color: #333;
    font-weight: bold; 
    font-size: 18px;
    padding: 1rem;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  nav .inner ul li a:hover {
    background: #e4e4e4;
  }
  
  .toggle-btn {
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    z-index: 3;
    cursor: pointer;
  }
  
  .toggle-btn span {
    position: absolute;
    display: block;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #333;
    transition: all 0.5s;
    border-radius: 4px;
  }
  
  .toggle-btn span:nth-child(1) {
    top: 4px;
  }
  .toggle-btn span:nth-child(2) {
    top: 14px;
  }

  .toggle-btn span:nth-child(3) {
    top: 24px;
  }

  .toggle-btn span:nth-child(4) {
    top: 34px;
  }

  .toggle-btn span:nth-child(5) {
    top: 44px;
  }
  
  .open .toggle-btn span {
    background-color: #fff;
  }
  
  .open .toggle-btn span:nth-child(1) {
    transform: translateY(10px) rotate(-315deg);
  }
  
  .open .toggle-btn span:nth-child(2) {
    opacity: 0;
  }
  
  .open .toggle-btn span:nth-child(3) {
    transform: translateY(-10px) rotate(315deg);
  }
  
  #mask {
    display: none;
    transition: all 0.5s;
  }
  
  .open #mask {
    display: block;
    background: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0.8;
    z-index: 2;
    cursor: pointer;
  }

  .Home{
    padding-top: 300px;
    background-color: white;
}

.Home .body{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly ;
    /* padding-right: 50px;
    padding-left: 270px; */
    align-items: center;
    align-content: center;

}

.Home .body img{
    width: 508px;
    height: 508px;
    /* margin-top: -150px; */
}

h1{
    color: #333;
    margin: 20px 0 20px;
    font-size: 75px;
    letter-spacing: 5px;
}

h1 span{
  color: #76deea;
}

h3{
    color: #333;
    font-size: 25px;
    margin-bottom: 50px;
    letter-spacing: 5px;
}

h4{
    color: #333;
    letter-spacing: 20px;
}

/* about.html */

.about{
  width: 100%;
  padding: 100px 0;
  background-color: white;
}

.n{
  width: 350px;
}

.about-text{
  width: 550px;
  margin: 30px auto;
}

.about .main{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
}

.about-text h2{
  color: #333;
  font-size: 75px;
  margin-bottom: 20px;
  letter-spacing: 5px;
}

h2 span{
  color:  #76deea;
}

.about-text h5{
  color: #333;
  letter-spacing: 3px;
  font-size: 22px;
  margin-bottom: 25px;
}

.about-text p{
  color: #333;
  letter-spacing: 3px;
  line-height: 28px;
  margin-bottom: 45px;
  font-size: 18px;
}

/* port.html */
.portfolio{
  background-color: white;
  width: 100%;
  padding: 100px 0;
}

.title h2{
  color: #333;
  font-size: 75px;
  margin: 30px auto;
  text-align: center;
  letter-spacing: 5px;
}

.box{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}

.card{
  height: 390px;
  width: 365px;
  background-color: #f0ffff;
  padding: 20px 35px;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
}

.card i{
  color: #333;
  font-size: 50px;
  margin: 25px  0;
}

h5{
  color: #333;
  font-size: 23px;
  margin-bottom: 30px;
  letter-spacing:  3px;
}

.pragraph p{
  color: #333;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 30px;
  letter-spacing: 3px;
}

.card .button{
  background-color: #76deea;
  padding: 13px 30px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  transition: all 0.3s;
}

.card .button:hover{
  background-color: transparent;
  color: #76deea;
  border: 2px solid #76deea;
  cursor: pointer;
}

.portfolio{
  overflow: hidden;
}

.card{
  animation-name:fadeUpAnime;
  animation-duration:2s;
  animation-fill-mode:forwards;
  opacity:0;
  }
  
  @keyframes fadeUpAnime{
    from {
      opacity: 0;
    transform: translateY(100px);
    }
  
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }

  .card{
    opacity: 0;
}


/* contact */

.contact{
  width: 100%;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact p{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}

p span{
  color: #76deea;
}

.contact .contact-button{
  background-color: #76deea;
  padding: 13px 30px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  transition: all 0.3s;
}

.contact .contact-button:hover{
  background-color: transparent;
  color: #76deea;;
  border: 2px solid #76deea;
  cursor: pointer;
}

.planePath {
  stroke: #D9DADA;
  stroke-width: .1%;
  stroke-width: .5%;
  stroke-dasharray: 1% 2%;
  stroke-linecap: round;
  fill: none;
}

.fil1 {
  fill: #D9DADA;
}

.fil2 {
  fill: #C5C6C6;
}

.fil4 {
  fill: #9D9E9E;
}

.fil3 {
  fill: #AEAFB0;
}

/* hob.html */
.hobby{
  width: 100%;
  padding: 100px 0;
}

.title h2{
  color: #333;
  font-size: 75px;
  margin: 30px auto;
  text-align: center;
  letter-spacing: 5px;
}

.title h6{
  color: #333;
  font-size: 45px;
  margin: 50px auto;
  text-align: center;
  letter-spacing: 5px;
}

model-viewer {
  max-width: 400px;
  height: 500px;
  border: 1px solid black;
  margin: auto;
}

.cardB{
  height: 800px;
  width: 700px;
  background-color: #f0ffff;
  padding: 20px 35px;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
}

.cardB i{
  color: #333;
  font-size: 50px;
  margin: 25px  10px;
}